<app-bannerpri></app-bannerpri>


<p class="separador"></p>

<div id="destination" class="container">

  <section class="secciones wow slideInUp">
    <h1 class="text-blue-primary2">NUESTROS SERVICIOS</h1>
  </section>

  <p class="separador"></p>
</div>


<div class="container menu-seguros">
<section style="text-align: center">
  <div class="row">
    <div class="prod col-md-2 iconos-seguros pointer">
      <img src="assets/img/home/vida.svg" [routerLink]="['/inicio']"
        class="btn productos-iconos wow slideInLeft b-over card-img iconos pricing-column2" alt="...">
      <p class="links" style="text-align: center">Familia</p>
    </div>
    <div class="prod col-md-2 iconos-seguros pointer">
      <img src="assets/img/home/salud.svg" [routerLink]="['/inicio']"
        class="btn productos-iconos wow slideInUp b-over card-img iconos pricing-column2" alt="...">
      <p class="links" style="text-align: center">Salud</p>
    </div>
    <div class="prod col-md-2 iconos-seguros pointer">
      <img src="assets/img/home/autos.svg" [routerLink]="['/inicio']"
        class="btn productos-iconos wow slideInDown b-over card-img iconos pricing-column2">
      <p class="links" style="text-align: center">Taller</p>
    </div>

    <div class="prod col-md-2 iconos-seguros pointer">
      <img src="assets/img/home/hogar.svg" [routerLink]="['/inicio']"
        class="btn productos-iconos wow slideInUp b-over card-img iconos pricing-column2">
      <p class="links" style="text-align: center">Hogar</p>
    </div>

    <div class="prod col-md-2 iconos-seguros pointer">
      <img src="assets/img/home/otros.svg" [routerLink]="['/inicio']"
        class="btn productos-iconos wow slideInRight b-over card-img iconos pricing-column2" alt="...">
      <p class="links" style="text-align: center">Otros</p>
    </div>

  </div>
</section>
</div>

<p class="separador"></p>



<section class="container-fluid">
  <div class="row movil-seccion">
    <div class="prod prod2 col-md-6  ">
      <div class="prod card text-white ">
        <img src="assets/img/espaciador.png" class="card-img marca-agua2" alt="...">
        <div class="contenido-promo card-img-overlay wow slideInLeft">
          <h1 class="text-blue-primary2">MI<br> IGUANA SV</h1>
          <p class="copy">
            Hoy podras publicar tus emprendimientos para que las personas busquen de tus servicios, Portal Administrativo de Negocios
          </p>

            <div class="row movil-seccion">
              <div class="col-md-md-5 pricing-column3">
                <a class="if-texto" href="tel:50372352056">
                  <img class="iconos-2" src="assets/img/iconos/telefono app.svg" alt="PHONE">
                  <br>
                  <b class="iconos-3">7235-2056</b>
                </a>
              </div>
              <div class="col-md-md-5 pricing-column3">
                <a class="if-texto" target="_blank" href="https://api.whatsapp.com/send?phone=50372352056">
                  <img class="iconos-2" src="assets/img/iconos/telefono app.svg" alt="PHONE">
                  <br>
                  <b class="iconos-3">7235-2056</b>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="prod col-md-6 wow slideInRight">
      <div class="prod card text-white">

        <div class="row movil-seccion">
          <div class="prod col-md-7 ">
            <img src="assets/img/tefono.jpg" class="movil-link2" alt="...">
          </div>
          <div class="prod col-md-5 movil-link">
            <div>
              <p class="separador"></p>
              <b class="text-golden-primary1 movil-link">
                Descargála
              </b>
            </div>
            <div>
              <a target="blank" href="">
                <img src="assets/img/home/android.png" target="blank" href="" class="btn movil-link pricing-column2" alt="...">
              </a>
            </div>
            <div>
              <a target="blank" href="">
                <img src="assets/img/home/IOS.png"
                  class="btn movil-link pricing-column2" alt="...">
              </a>
            </div>
          </div>
          <p class="separador"></p>
        </div>
      </div>
    </div>
  </div>
</section>
