@import "../../../../_variables.css";


.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}





 .navbar-superior .navitem{
  padding-top: 0% !important;
  padding-bottom: 0px !important;
}

.logo-eva{
  height: 30px !important;
  margin-left: 20px !important;
}

.shadow-lg .p-3 .mb-5 .rounded{
  box-shadow: 0 0rem 1rem rgba(19, 95, 167, 0.5)!important;
}

.nav-link  {
  color: var(--Background) !important;
}

.colorsecundario {
  color: var(--colorAzulPrimario2) !important;
}

.navbar .nav-item {
  color: var(--colorDoradoPrimario1) !important;
}


.navbar-toggler{
  border-color: var(--Background) !important;
  color: var(--Background) !important;
}

.dropdown-menu{
  background-color: var(--colorDoradoPrimario1) !important;
  color: var(--colorAzulPrimario1) !important;
}

 a.dropdown-item{
   color: var(--Background) !important;
}

a.dropdown-item:hover{
  background-color: rgba(0, 0, 0, 0.308) !important;
}


a.dropdown-item.active{
  color: var(--Background) !important;
  background:  rgba(0, 0, 0, 0.308) !important;
}

.navbar{
  color: var(--Background) !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  }

@media (min-width: 250px) and (max-width: 1024px){

    .logo-sisa{
      padding-top: 0pt !important;
      margin: 0pt !important;
      padding: 0pt !important;
    }

    .logo{
      padding-top: 0px !important;
      margin-right: 0pt !important;
      visibility: hidden !important;
      display: none !important;
    }

    .logo-boton{
      margin-left: 0pt !important;
    }

    .hr-seccion{
      padding: 0% !important;
      margin: 0% !important;
      border: 0px solid #1d4a7d !important;
    }

    .navbar-nav{
      text-align: justify !important;
      margin-right: auto;
      margin-left: auto;
      font-size: 14px !important;
      font-weight: 600 !important;
      color: var(--colorDoradoPrimario1) !important;
    }

    .navbar {
      padding:0rem;
      margin-bottom:2rem;
    }

    .dropdown .dropdown-menu {
      border-radius:0;
    }

    .dropdown-item{
      font-size: 14px !important;

    }

    .nav-link {
      margin: 8px !important;
    }


    .iconos {
      color: var(--colorAzulPrimario2) !important;
      border-color: var(--colorAzulPrimario2) !important;
      font-size: 20px !important;
    }

    .active a.colorsecundario.navitem.nav-link {
      border-radius: 1px;
      color: var(--colorDoradoPrimario1) !important;
      border-bottom: 3px solid var(--colorDoradoPrimario2) !important;
    }
    .active i.iconos{
      border-radius: 12px;
      color: var(--colorDoradoPrimario1) !important;
    }

    .portal{
      margin-left: 0% !important;

    }

    .portal-inter{
      margin-left: 0% !important;
    }
}






@media (min-width: 66em){


    .borde-up{
      border-top: 1px solid;
      border-top-color: var(--colorAzulPrimario1);
    }

    .logo-sisa{
      padding-top: 0pt !important;
      margin: 0pt !important;
      padding: 0pt !important;
      visibility: hidden !important;
      display: none !important;
    }

    .logo{
      padding-top: 5px !important;
      margin-right: 20pt !important;
    }

    .logo-boton{
      margin-left: 50pt !important;
    }

    li.navbar-nav.portal.nav-item.dropdown{
      float: right !important;
      text-align: right !important;
    }

    .navbar-nav{
      text-align: justify !important;
      margin-right: auto;
      margin-left: auto;
      font-size: 12px !important;
      font-weight: 600 !important;
      color: var(--colorDoradoPrimario1) !important;
    }

    .navbar {
      padding:0rem;
      margin-bottom:rem;
    }

    .dropdown .dropdown-menu {
      border-radius:0;
    }

    .dropdown-item{
      font-size: 15px !important;

    }

    .nav-link {
      margin: 4px !important;
    }

    .hr-seccion{
      padding: 0% !important;
      margin: 0% !important;
      border: 1px solid #1d4a7d !important;
    }

    .iconos {
      color: var(--colorAzulPrimario2) !important;
      border-color: var(--colorAzulPrimario2) !important;
      font-size: 20px !important;
    }

    .active a.colorsecundario.navitem.nav-link {
      border-radius: 1px;
      color: var(--colorDoradoPrimario1) !important;
      border-bottom: 3px solid var(--colorDoradoPrimario2) !important;
    }
    .active i.iconos{
      border-radius: 12px;
      color: var(--colorDoradoPrimario1) !important;
    }

    .portal{
      float: right !important;
      text-align: right !important;
      margin-right: 2% !important;
    }

    .portal-inter{
      margin-left: -45% !important;
    }


}




  @media (min-width: 96em){


    .borde-up{
      border-top: 1px solid;
      border-top-color: var(--colorAzulPrimario1);
    }

    .logo-sisa{
      padding-top: 0pt !important;
      margin: 0pt !important;
      padding: 0pt !important;
      visibility: hidden !important;
      display: none !important;
    }

    .logo{
      padding-top: 5px !important;
      margin-right: 30pt !important;
    }

    .logo-boton{
      margin-left: 190pt !important;
    }

    li.navbar-nav.portal.nav-item.dropdown{
      float: right !important;
      text-align: right !important;
    }

    .navbar-nav{
      text-align: justify !important;
      margin-right: auto;
      margin-left: auto;
      font-size: 14px !important;
      font-weight: 600 !important;
      color: var(--colorDoradoPrimario1) !important;
    }

    .navbar {
      padding:0rem;
      margin-bottom:2rem;
    }

    .dropdown .dropdown-menu {
      border-radius:0;
    }

    .dropdown-item{
      font-size: 15px !important;

    }

    .nav-link {
      margin: 7px !important;
    }

    .hr-seccion{
      padding: 0% !important;
      margin: 0% !important;
      border: 1px solid #1d4a7d !important;
    }


    .iconos {
      color: var(--colorAzulPrimario2) !important;
      border-color: var(--colorAzulPrimario2) !important;
      font-size: 20px !important;
    }

    .active a.colorsecundario.navitem.nav-link {
      border-radius: 1px;
      color: var(--colorDoradoPrimario1) !important;
      border-bottom: 3px solid var(--colorDoradoPrimario2) !important;
    }
    .active i.iconos{
    border-radius: 12px;
    color: var(--colorDoradoPrimario1) !important;
    }

    .portal{
      float: right !important;
      text-align: right !important;
      margin-right: 0% !important;

    }
}
